body {
	background: black;
	font-family: "Courier New", Courier, monospace;
	color: #ccc;
	font-size: 12pt;
}

.blue {
	color: #00DEFF;
	text-decoration: none;
	font-weight: bold;
}

.orange {
	color: #FF8A00;
	text-decoration: none;
	font-weight: bold;
}

.yellow {
	color: #FFE000;
	text-decoration: none;
	font-weight: bold;
}

a {
	color: #80FF00;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#blinkCursor {
	display: inline-block;
	margin-left: -10px;
}

#blinkStdIn {
	display: inline-block;
	margin-left: -10px;
}

#items {
	list-style: none;
	margin: 0;
	padding: 0;
}

#stdInContent {
	white-space: pre-wrap;
}

.historyItem {
	white-space: pre-wrap;
}

.collapseSpace {
	white-space: normal;
}